<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QwikStart</title>
    <!-- CSS only -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- icons -->
    <link href='https://css.gg/mail.css' rel='stylesheet'>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <!-- External css -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- social media -->
    <script src="https://kit.fontawesome.com/5ad520b0bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  
      <!-- navbar -->
      <!-- <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            JoGeek
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="//github.io/jo_geek" target="_blank">Share Your Idea</a>
          <a href="http://stackoverflow.com/users/4084003/" target="_blank">Collab</a>
          <a href="https://codepen.io/jo_Geek/" target="_blank">Sign-Up</a>
          <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">Contact</a>
        </div>
      </div> -->
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <img class="nav-img" src="/img/QwikStart Logo.png">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <li class="nav-item">
                <a class="nav-link" href="/collab">Qwik-Collab</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="#trending">Trending Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sign UP
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/signup-student">Student</a></li>
                  <li><a class="dropdown-item" href="/signup-investor">Investor</a></li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/project/add">Add Project</a>
                  </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- aniamtions -->
<div class="parent">
  

  <div class="photo">
    <div class="cover"><img src="/img/codefury.jpg" alt=""></div>
   
  </div>
      
      
      <div class="box" >
      
        
        <!-- <div class="layer"></div> -->

        <div class="name">
        <p>QwikStart</p>
         <h1>Make Mistakes Faster!!</h1></div>
        <div class="about">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, illo iusto. Eaque nulla ut illo veritatis quisquam dignissimos recusandae impedit nesciunt quidem itaque iure labore beatae tempore, reiciendis, fugiat, nobis distinctio deleniti dolorem doloremque consequuntur? Debitis illum quidem enim culpa officia impedit porro labore dignissimos voluptatum. Temporibus aperiam voluptatum reprehenderit!
  
          </p>

        </div>
      </div>
      <div class="text">
        <p>Start Your</p>
        <p>
          <span class="word wisteria">Clever.</span>
          <span class="word belize">Honest.</span>
          <span class="word pomegranate">Visionary.</span>
          <span class="word green">Directed.</span>
          <span class="word midnight">Company.</span>
        </p>
      </div>
      
      

      

</div>


    <!-- cards -->
  <div class="cards" id="trending">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Weather Prediction Using AI/ML</strong> </h5>
             <p class="card-text">This is Artificial Intelligance and Machine Learning Projet which aims to predict weather of next 2-3 years with 90% accuracy!!</p>
            <a href="https://www.github.com" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>WhatsApp clone using ReactJS and NodeJS</strong></h5>
            <p class="card-text">This is a Whatsapp Clone created using ReactJS and NodeJS, for chating Firebase is used. one can call,video call, and chat with individual or with a group.</p>
            <a href="https://www.github.com" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Grocery Management System using Django</strong></h5>
            <p class="card-text">This is a website which is used to maintain an online Grocery Store usind Django, an individual can book groceries, check the availability of grocery and order online.</p>
            <a href="https://www.github.com" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="footer">
    <div class="header"><h2>CONTACT US</h2></div>
    <div class="media">

    
      <a class="gg-mail" href="mailto: qwikstartcodefury@gmail.com"></a>  

    </div>

</section>
    

</body>
<!-- JavaScript Bundle with Popper -->
<script src="/js/jquery.js" ></script>
<script src="/js/bootstrap.min.js" ></script>


<!-- my js -->
<script src="/js/home.js"></script>

</html>