<!DOCTYPE html>
<html>
<head>
	<title>Project Page</title>
	<link rel="stylesheet" type="text/css" href="slide navbar /css/register.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/register.css">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
            
			<div class="signup">
				
				
				<form action="/project/add" method="post">
					<label for="chk" aria-hidden="true">Project Add</label>
					<input type="text" name="projectname" placeholder="Project Name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="text" name="description" placeholder="Add Description" required="">
                    <input type="text" name="glink" placeholder="GitHub Link">
					<button type="submit">ADD</button>
				</form>
			</div>

	</div>
</body>
</html>