<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
</head>
<body>
    <form action="/reset-password-investor" method="post">
        <h3>Enter your email</h3><input type="email" name="email" placeholder="Email">
        <button type="submit">Send</button>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" type="text/css" href="slide navbar /css/register.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/register.css">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
            
			<div class="signup">
				<form action="/reset-password-investor" method="post">
					<label for="chk" aria-hidden="true" id="reset">Reset Password</label>
					<input type="email" name="email" placeholder="Email" required="">
					<button type="submit">Reset</button>
				</form>
			</div>

	</div>
</body>
</html>